.buttonSubmit {
    background-color: #00BCD5;
    color:aliceblue;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 20px 0px 100px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

#form {
    padding-bottom: 100px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color:#00BCD5;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity:1;
    transform:translateX(0%);
}

.page-exit-active {
    opacity:0.01;
    transform:translateX(100%);
    transition: all 300ms ease-out;
}

.textMenu {
    font-family: Roboto Regular;
    font: size 12;
}

#productName {
    font-size: 40pt;
    color: #00BCD5;
    font-family:ethnocentric;
    padding: 150px 0px 0px 0px;
    text-align: center;
}

.heading {
    font-family: Roboto Thin;
    font-size: 40pt;
    color: #000000;
    padding-top: 50px;
    text-align:center;
}
  
#page {
    background-color:aliceblue;
}

#description {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.percentage-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#howtouseComp {
    padding-bottom: 20px;
}

.CircularProgressbar {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: Roboto Thin;
}

#mediaHeading {
    color:#fe5722;
    
}

/********** desktop only **********/
@media (min-width: 992px) {
    #howtouseComp {
        width: 550px;
    }
    #mediaHeading {
        width: 750%;
        font-size: 26pt;
    }
    #paraContent {
        width: 750%;
    }
    .ml-5 {
        padding-top: 40%;
    }
    #description {
        width: 40%;
    }
    .CircularProgressbar {
        width: 40%;
    }
    #imgPercentage {
        width: 20%;
    }
    #padatMal {
        font-size: 22pt;
    }
    #imgNumber {
        margin-top:-5px;
        width: 10%;
    }
}
  
  /********** tablet only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    #howtouseComp {
        width: 350px;
    }
    #mediaHeading {
        width: 500%;
        font-size: 22pt;
    }
    #paraContent {
        width: 500%;
    }
    .ml-5 {
        padding-top: 30%;
    }
    #description {
        width: 50%;
    }
    .CircularProgressbar {
        width: 50%;
    }
    #imgPercentage {
        width: 40%;
    }
    #padatMal {
        font-size: 18pt;
    }
    #imgNumber {
        margin-top:-5px;
        width: 15%;
    }
  }
  
  /********** mobile only **********/
  @media (max-width: 767px) {
    #howtouseComp {
        width: 150px;
    }
    #description {
        width: 80%;
    }
    .CircularProgressbar {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #imgPercentage {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .CircularProgressbar {
        padding-bottom: 20px;
    }
    #padatMal {
        font-size: 14pt;
    }
    #mediaHeading {
        font-size: 14pt;
    }
    #imgNumber {
        margin-top:-5px;
        width: 30px;
    }
  }

  
  
  







